/* frontend/src/index.css */
/* CRITICAL FIX: Global Box Sizing */
html, body, #root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  /* The dark void */
  background-color: #000;
  color: #e0e0e0;
  /* This prevents the horizontal scroll bar from appearing */
  overflow-x: hidden; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
